<% provide(:ttl, "THE PAGE OF REGISTRATION :) FUCKing People!") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <h1>РЕГИСТРАЦИЯ</h1>
    
     <%= form_for(@user) do |f| %>
    
    <p><%= f.label :name, "Ваше имя" %></p>
    <p><%= f.text_field :name %></p>
    
    <p><%= f.label :email, "Введите свой емэйл - он будет в роли логина" %></p>
    <p><%= f.email_field :email %></p>
    
    <p><%= f.label :sex, "Каков ваш пол" %></p>
    <p><%= f.text_field :sex %></p>
    
    <p><%= f.label :password, "Придумайте пароль" %></p>
    <p><%= f.password_field :password %></p>
    
    <p><%= f.label :password_confirmation, "Подтвердите пароль" %></p>
    <p><%= f.password_field :password_confirmation %></p>
    
    <p><%= f.submit "Создать аккаунт", class: "btn btn-primary" %></p>
    <% end %>
  </div>    
</div>


