<% provide(:ttl, "PRIVAT INFO by " + @user.name)%>

<h3>Страница пользователя <b><%= @user.name %></b></h3>

<div class="row">
  <aside class="col-md-4">
   <section class="user_info">
     <div class="gravatar"><%= gravatar_for @user %></div>
<p>Имя: <%= @user.name %></p>
<p>Мыло: <%= @user.email %> </p>
<p>Пол: <%= usrs_sex %> </p>
<p>Паровоза хэш: <%= @user.password_digest %> </p>
     
   </section> 
    
  </aside>
  
  
</div>


  
  
