@import "bootstrap-sprockets";
@import "bootstrap";

aside {
  section.user_info {
    margin-top: 20px;
    background-color: green;
    color: #fff;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 3px red;
      padding-top: 0;
    }
  }
}