<div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active">
              
              <!-- <a href="#">Home</a> -->
              <%= link_to "home", home_path %>
              </li>
            <li role="presentation">
              
              
            <!--   <a href="#">About</a>  -->
            <%= link_to "О Проекте", about_path %>
              
              
              </li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Учебно-тренировочная площадка</h3>
      </div>

      <div class="jumbotron">
        <h1>Учебно-тренировочный проект</h1>
        <p class="lead">Используем Bootstrap (http://getbootstrap.com) для стилей</p>
        <p>
          
          <!-- <a class="btn btn-lg btn-success" href="#" role="button">Регистрация</a> -->
          <%= link_to "РЕГИСТРАЦИЯ", signup_path, class: "btn btn-lg btn-success" %>
          
          </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Бутстрап</h4>
          <p>Классный фреймворк стилей в стиле твитера :) тут некоторые ссылки, чтобы не забыть:
          <br><b> http://mybootstrap.ru</b> - русский сайт - всё предельно понятно
           <br><b> https://tokar.ua/read/7557</b> - украинский сайт - конкретно простые и понятные уроки по бутстрап
            <br><b> https://getbootstrap.com</b> - наверняка это офсайт :)
          
          </p>
           </div>
           
           <div class="col-lg-6">

          <h4>Регулярные выражения</h4>
          <p>Тут классный сервис: <b>http://rubular.com</b> - специально для рубина... 
          <br>Вот, к примеру, это я составил для емэйлов... 
          (  /\A([a-z]|[1-9]){1,45}\.?([a-z]|[1-9]){1,45}@([a-z]|[1-9]){1,45}\.[a-z]{2,9}\z/i  )
          но оно слишком длинное... зато мое :) <br>
          а вот то, что сейчас: (  /\A[\w+\-]+@[a-z\d-]+\.[a-z]+\z/i  ) - но оно не будет работать 
          если есть точка в имени - к примеру nosnana.web... но это пока и не важно в учебном проекте.
          <br> тем не менее, вот, что можно сделать: (  /\A([\w+\-]+)\.?([\w+\-]+)@[a-z\d-]+\.[a-z]+\z/i  )
          и воно працуе...
          
          </p>
        </div>
        
        <div class="col-lg-6">

          <h4>Аватар в профиле</h4>
          <p>Используем сервис: <b>http://gravatar.com</b> hhh 
          <br>ghghhghghghghg <br>
          ghghghghghghgh
          <br> hghghghghgh
          
          </p>
        </div>
        
      </div>

    </div> <!-- /container -->
  
  
  <% provide(:ttl, "this is HOME")%>