<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:ttl)) %></title>
    <%= csrf_meta_tags %>

   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
  </head>
  
  <body>
    <%= flash.each do |message_type, message| %>
    <%= content_tag(:div, message, class: "alert-#{message_type}") %>
    <% end %>
    
    <%= render 'sha/navbar' %>
    <%= yield %>
    
    
    
<footer class="footer">
        <p>&copy; 2017 ноябрь - декабрь, впрочем, какое это имеет значение :(</p>
  <div class:="the_my_class_for_footer">
        <p>some text: Lorem ipsum dolor sit amet, 
consectetur adipiscing elit. Pellentesque luctus volutpat ipsum, 
vitae eleifend libero viverra a. Nullam gravida massa et nibh dictum venenatis. 
Vivamus interdum auctor lacus, vitae ornare nisl accumsan ut. 
Aliquam a erat lorem. Sed ultrices, erat id fringilla tincidunt, 
leo mi rutrum risus, vel laoreet erat dolor at velit. </p> 
  </div>
</footer>

<div class="col-lg-6">
      <%= debug(params) if Rails.env.development? %>
    </div>
    
  </body>
</html>
